{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">STAFF REGISTERATION FORM</h4>
                  <form method="post" >
                      {% csrf_token %}
                    <div class="form-group">
                        {{login_form|crispy}}
                        {{technical_form|crispy}}
                    </div>
                      <button type="submit" style="margin-left: 50%" class="btn btn-primary" >Submit</button>
                  </form>
                </div>
              </div>
            </div>
{% endblock %}